{% trans_default_domain 'FOSUserBundle' %}


    <div class="container">
        <section class="edit-profile">
            <div class="row centered-form">
                <div class="col-xs-12 col-sm-9 col-md-7 col-sm-offset-1 col-md-offset-2">

                    <h1> Edit your informations<br/>
                    <small>Your can change your informations when you want </small>
                    </h1>
                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-horizontal' } }) }}
                    <div class="form-group">
                        {{ form_label(form.username,null, {'label_attr' : {'class' : 'control-label col-sm-3' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.username, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.imagefile,'Photo de profil', {'label_attr' : {'class' : 'control-label col-sm-3' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.imagefile) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.imagefilecover,'Photo de couverture', {'label_attr' : {'class' : 'control-label col-sm-3' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.imagefilecover) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email,null, {'label_attr' : {'class' : 'control-label col-sm-3' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.email, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.current_password,null, {'label_attr' : {'class' : 'control-label col-sm-3' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.current_password, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="col-sm-12 alert alert-danger {{ form_errors(form.current_password) is not empty ? '' : 'hide' }}">
                        {{ form_errors(form.current_password) }}
                    </div>

                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-custom btn-lg btn-block" value="{{ 'profile.edit.submit'|trans }}"/>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </div>

