{% extends ":layout:layout.html.twig" %}


{% block body %}

    <div class="container">
        <article>
            <header class="trip-post header-homepage"
                    style="background:url({{ vich_uploader_asset(trip, 'imagefile') }})">
                <h1>{{ trip.titrevoyage }}</h1>
            </header>
            <div class="background-bar">
            </div>
            <section class="container-fluid main-body">
                <section class="row">
                    <div class="hidden-xs col-sm-1 col-md-2">
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-8">
                        <div class="content-holder">
                            <div class="content-description">
                                <div class="author-avatar">
                                    <img src="{{ vich_uploader_asset(trip.voyageur[0], 'imagefile') }}"
                                         class="img-circle"/>
                                </div>
                                <div class="author-name">
                                    <h3>
                                        <a href="{{ path('memberHp' , {'id' : trip.voyageur[0].id}) }}">{{ trip.voyageur[0].prenom }} {{ trip.voyageur[0].nom }}</a>
                                    </h3>
                                </div>
                                <div class="row blog-info">
                                    <div class="col-xs-6">
                                        <span class="lead text-muted"><i class="glyphicon glyphicon-calendar"></i> Published: 37 days ago</span>
                                    </div>

                                    <div class="col-xs-6">
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            {% if trip in app.user.voyages %}
                                                <button class="btn btn-custom">
                                                    <a href="{{ path('createStep' , {'idVoyage' :trip.idvoyage }) }}"
                                                       class="text-white"><span
                                                                class="glyphicon glyphicon-edit"></span>&nbsp;Ajouter
                                                        une
                                                        étape</a>
                                                </button>
                                            {% else %}
                                                <button class="btn btn-custom">
                                                    <a href="#"
                                                       class="text-white"><span
                                                                class="glyphicon glyphicon-heart"></span>&nbsp;Ajouter
                                                        aux favoris</a>
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="content-body">
                                {% if steps|length > 0 %}
                                    {% for step in steps %}
                                        <div class="col-sm-12">
                                            <blockquote>
                                                {{ step.descriptionetape }}
                                            </blockquote>
                                            {% if step.medias is not empty %}
                                                {% if step.medias|length > 1 %}
                                                    {% for media in step.medias %}
                                                        <div class="media medium col-sm-6">
                                                            <img src="{{ vich_uploader_asset(media, 'imagefile') }}"
                                                                 alt="{{ media.pathMedia }}" class="img-responsive"/>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="media medium">
                                                        <img src="{{ vich_uploader_asset(step.medias[0], 'imagefile') }}"
                                                             alt="{{ step.medias[0].pathMedia }}" class="img-responsive"/>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <hr/>
                                    {% endfor %}
                                {% else %}
                                    <section class="see-trip see-trip-header top-buffer">
                                        <div class="col-sm-12">
                                            <img src="{{ asset('img/unhappy-marker.png') }}"
                                                 class="img-responsive img-center img"
                                                 width="150" alt="no trips"/>
                                                <h4 class="text-center"><b>Ce voyageur n'a publié aucune étapes sur ce voyage !</b></h4>
                                                <p class="text-center">
                                                    <small>
                                                        Lorsque {{ trip.voyageur[0].prenom }} publiera une étape, elle apparaitra ici ! :)
                                                    </small>
                                                </p>
                                        </div>
                                    </section>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </section>
            </section>

        </article>

    </div>

{% endblock %}

