{% extends ":layout:layout.html.twig" %}


{% block body %}

    <div class="container">
        <article>
            <header class="trip-post header-homepage"
                    style="background:url({{ vich_uploader_asset(trip, 'imagefile') }})">
                <h1>{{ trip.titrevoyage }}</h1>
            </header>
            <div class="background-bar">
            </div>
            <section class="container-fluid main-body">
                <section class="row">
                    <div class="hidden-xs col-sm-1 col-md-2">
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-8">
                        <div class="content-holder">
                            <div class="content-description">
                                <div class="author-avatar">
                                    <img src="{{ vich_uploader_asset(traveller, 'imagefile') }}"
                                         class="img-circle"/>
                                </div>
                                <div class="author-name">
                                    <h3>
                                        <a href="{{ path('memberHp' , {'id' : traveller.id}) }}">{{ traveller.prenom }} {{ traveller.nom }}</a>
                                    </h3>
                                </div>
                                <div class="row blog-info">
                                    <div class="col-xs-6">
                                        <span class="lead text-muted"><i class="glyphicon glyphicon-calendar"></i> Published: 37 days ago</span>
                                    </div>

                                    <div class="col-xs-6">
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and trip in app.user.voyages %}
                                            <button class="btn btn-custom">
                                                <a href="{{ path('createStep' , {'idVoyage' :trip.idvoyage }) }}"
                                                   class="text-white"><span
                                                            class="glyphicon glyphicon-edit"></span>&nbsp;Ajouter
                                                    une
                                                    étape</a>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="content-body">
                                {% if steps|length > 0 %}
                                    {% for step in steps %}
                                        <div class="col-sm-12">
                                            <blockquote>
                                                {{ step.descriptionetape }}
                                            </blockquote>
                                            {% if step.medias is not empty %}
                                                {% if step.medias|length > 1 %}
                                                    {% for media in step.medias %}
                                                        <div class="media medium col-sm-6">
                                                            <img src="{{ vich_uploader_asset(media, 'imagefile') }}"
                                                                 alt="{{ media.pathMedia }}" class="img-responsive"/>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="media medium">
                                                        <img src="{{ vich_uploader_asset(step.medias[0], 'imagefile') }}"
                                                             alt="{{ step.medias[0].pathMedia }}"
                                                             class="img-responsive"/>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <hr/>
                                    {% endfor %}

                                {% else %}
                                    <section class="see-trip see-trip-header top-buffer">
                                        <div class="col-sm-12">
                                            <img src="{{ asset('img/unhappy-marker.png') }}"
                                                 class="img-responsive img-center img"
                                                 width="150" alt="no trips"/>
                                            <h4 class="text-center"><b>Ce voyageur n'a publié aucune étapes sur ce
                                                    voyage !</b></h4>
                                            <p class="text-center">
                                                <small>
                                                    Lorsque {{ traveller.prenom }} publiera une étape, elle
                                                    apparaitra ici ! :)
                                                </small>
                                            </p>
                                        </div>
                                    </section>
                                {% endif %}
                            </div>
                        </div>
                    </div>


                    <section class="user-map-countries">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Carte des pays visités</h3>
                                <div id="regions_div"></div>
                            </div>
                        </div>

                    </section>

                    <section class="user-map-markers">
                        <h3>Ou est allé {{ traveller.username }} ?</h3>
                        <div id="map_wrapper">
                            <div id="map_canvas" class="mapping"></div>
                        </div>
                    </section>

                </section>
            </section>
        </article>
    </div>

    <div id="js-vars"
         data-vars="{{ js_vars|json_encode|e('html_attr') }}">
    </div>
{% endblock %}

{% block javascripts %}

    {% if steps|length > 0 %}

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="{{ asset('js/mapMarkers.js') }}"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages': ['geomap']});
            google.charts.setOnLoadCallback(drawMap);

            var JsVars = jQuery('#js-vars').data('vars');
            var usrDataCountries = JsVars.dataCountries;

            function drawMap() {
                var data = google.visualization.arrayToDataTable(usrDataCountries);
                var options = {};
                options['dataMode'] = 'regions';
                options['height'] = '550px';

                var container = document.getElementById('regions_div');
                var geomap = new google.visualization.GeoMap(container);
                geomap.draw(data, options);
            }
        </script>
    {% endif %}

{% endblock %}

