{% extends ":layout:layout.html.twig" %}


{% block body %}

    <div class="container">
        <section class="see-trip-header header-homepage">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}

                {% if trip in app.user.voyages %}
                    <div class="text-right ">
                        <button class="btn btn-custom">
                            <a href="{{ path('createStep' , {'idVoyage' :trip.idvoyage }) }}" class="text-white"><span
                                        class="glyphicon glyphicon-edit"></span>&nbsp;Ajouter une étape</a>
                        </button>
                    </div>
                {% endif %}
            {% endif %}
            <h1 class="text-center">{{ trip.titrevoyage }}</h1>
        </section>
        <section class="see-trip">
            <div>
                <img src="{{ vich_uploader_asset(trip, 'imagefile') }}" alt="{{ trip.photovoyage }}"
                     class="img-responsive img-center"/>
            </div>
        </section>
        <section class="see-trip">
            <div>
                <h3 class="text-center"><em>" {{ trip.descriptionvoyage }} "</em></h3>
            </div>
        </section>


    </div>

{% endblock %}

