{% extends "::layout/membre.html.twig" %}


{% block body %}

    <div class="col-md-12">
        <table class="table table-hover table-striped">
            <tbody>
            {% for user in membre.followed %}
                <tr class="followed-card" id="followed_{{ user.id }}">
                    <td>
                        <span class="glyphicon glyphicon-eye"></span>
                    </td>
                    <td>
                        <img src="{{ vich_uploader_asset(user, 'imagefile' ) }}"
                             class="img-circle"
                             width="60">
                    </td>
                    <td>
                        <h4>
                            <a href="{{ path('memberHp' , { 'id' : user.id} ) }}">
                                <b>{{ user.prenom }} {{ user.nom }}</b>
                            </a>
                        </h4>
                        <p>@{{ user.username }}</p>
                    </td>
                    {% if app.user.id is defined and membre.id == app.user.id %}
                        <td>
                            <button class="btn btn-custom unfollowBtn" type="button">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp;Unfollow
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/ajaxUnfollow.js') }}"></script>
{% endblock %}