{% extends "::layout/membre.html.twig" %}

{% block body %}

    <div class="col-xs-12">
        <!-- MESSAGE SUCCES FORMULAIRE -->
        <div>
            {% for flashMessage in app.session.flashBag.get('valid_voyage') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
            {% endfor %}
        </div>

        {% if app.user.id is defined and membre.id == app.user.id %}
            <div class="col-sm-4 col-sm-offset-8">
                <a href="{{ path('createTrip') }}">
                    <button class="btn btn-lg btn-custom btn-block">Ajouter un voyage</button>
                </a>
            </div>
        {% endif %}

        <h3>Voyages</h3>
        {% if nbTrips > 0 %}
            {% for i in 0..membre.voyages|length-1 %}
                <div class="col-sm-4 col-xs-6">
                    <a href="{{ path('voyagePage' , { 'idVoyage': membre.voyages[i].idvoyage } ) }}">
                        <div class="img-container-lg">
                            <img src="{{ vich_uploader_asset(membre.voyages[i], 'imagefile' ) }}"
                                 alt="{{ membre.voyages[i].photoVoyage }}" class="img-responsive"/>
                        </div>
                        <p class="text-center titleVoyage">{{ membre.voyages[i].titrevoyage }}</p>
                    </a>
                    {% if app.user.id is defined and membre.id == app.user.id %}
                        <a href="{{ path('createStep' , {'idVoyage' : membre.voyages[i].idvoyage }) }}">
                            <div class="btn btn-custom col-sm-6" title="Ajouter une étape à ce voyage">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </div>
                        </a>
                        <div class="btn btn-alert col-sm-6 delete-btn" title="Supprimer ce voyage"
                             data-toggle="modal"
                             data-target="#modal-delete-{{ membre.voyages[i].idvoyage }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>


                        <!-- Modal -->
                        <div class="modal fade" id="modal-delete-{{ membre.voyages[i].idvoyage }}"
                             data-key="{{ membre.voyages[i].idvoyage }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Suppresion d'un voyage</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p><b>Attention !</b></p>
                                        <p>Vous êtes sur le point de supprimer ce voyage.
                                            <b>Vous perdrez toutes les étapes et les images liées à ce voyage.</b></p>
                                        <p><b>Cette action est <span style="color:#e50000">irréversible</span>. </b></p>
                                        <p>Etes-vous sur de vouloir continuer ? </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler
                                        </button>
                                        <button type="button" class="btn btn-alert delete-trip"><span
                                                    class="glyphicon glyphicon-remove"></span>&nbsp;Supprimer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}
            {% endfor %}
        {% else %}
            {% if app.user.id is defined and membre.id == app.user.id %}
                <div class="col-xs-12">
                    <p>Vous n'avez aucun voyages à votre actif . </p>
                </div>
            {% else %}
                <div class="col-xs-12">
                    <p>Ce membre n'a encore effectué aucun voyages . </p>
                </div>
            {% endif %}

        {% endif %}
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/ajaxDeleteTrip.js') }}"></script>
{% endblock %}
