{% extends ":layout:layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rotateCard.css') }}">
{% endblock %}
{% block body %}

    <div class="container">
        <section class="see-trip-header header-homepage">

            <h1 class="text-center">Trip
                steps {{ placename is not empty ? 'in ' ~ placename : 'around the world' }}</h1>
        </section>
        <section class="see-trip">
            {% if steps|length > 0 %}
                <div>
                    {% for step in steps %}
                        {% set voyage = step.trip %}
                        {% set traveller = voyage.voyageur[0] %}
                        {% set desc = step.descriptionetape %}

                        <div class="col-md-4 col-sm-6">
                            <div class="card-container">
                                <div class="card">
                                    <div class="front">
                                        <div class="cover">
                                            <img src="{{ vich_uploader_asset(traveller, 'imagefilecover') }}"
                                                 class=" img-responsive">
                                        </div>
                                        <div class="user">
                                            <img class="img-circle"
                                                 src="{{ vich_uploader_asset(traveller, 'imagefile') }}"/>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h3 class="name">{{ traveller.prenom }} {{ traveller.nom }}</h3>
                                                <p class="text-center">
                                                    " {{ traveller.descriptionprofil }}"
                                                </p>
                                            </div>

                                            <div class="stats-container">
                                                <div class="stats">
                                                    <h4>{{ traveller.follower|length }}</h4>
                                                    <p>
                                                        Followers
                                                    </p>
                                                </div>
                                                <div class="stats">
                                                    <h4>{{ traveller.followed|length }}</h4>
                                                    <p>
                                                        Following
                                                    </p>
                                                </div>
                                                <div class="stats">
                                                    <h4>{{ step.trip.views }}</h4>
                                                    <p>
                                                        Trip views
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end front panel -->
                                    <div class="back">
                                        <div class="cover">
                                            {% if step.medias is not empty %}

                                                <img src="{{ vich_uploader_asset(step.medias[0], 'imagefile') }}"
                                                     class=" img-responsive">
                                            {% else %}
                                                <img src="{{ asset('img/undefined.png') }}"
                                                     class="img-center img-responsive">
                                            {% endif %}
                                        </div>
                                        <div class="header">
                                            <h5 class="motto">
                                                {{ desc|length > 40 ? desc[:40] ~ ' ...' :  desc }}
                                            </h5>
                                        </div>
                                        <div class="content">
                                            <div class="step-location">
                                                <p class="text-center" style="font-size:26px;margin-bottom:30px">
                                                    <span class="glyphicon glyphicon-map-marker red-icon"></span>
                                                    {{ step.cities is not null ? step.cities.name : step.country.name }}
                                                </p>
                                            </div>
                                            <div class="main">
                                                <h4 class="text-center">
                                                    <div class="btn btn-lg btn-custom col-sm-6 col-sm-offset-3">
                                                        <a href="{{ path('voyagePage' , {'idVoyage' : voyage.idvoyage }) }}#step-{{ step.idetape }}"
                                                           class="text-white">
                                                            See this step
                                                        </a>
                                                    </div>
                                                </h4>
                                                <p class="text-center"></p>
                                            </div>
                                        </div>
                                    </div> <!-- end back panel -->
                                </div> <!-- end card -->
                            </div> <!-- end card-container -->
                        </div> <!-- end col sm 3 -->

                    {% endfor %}
                </div>
            {% else %}
                <div class="col-sm-12">
                    <img src="{{ asset('img/unhappy-marker.png') }}"
                         class="img-responsive img-center img"
                         width="150" alt="no trips"/>
                    <h4 class="text-center"><b>Aucun résultats pour la destination suivante : {{ placename }}</b></h4>
                    <p class="text-center">
                        <small>
                            Lorsque qu'un voyageur visitera cette destination , le voyage apparaitra ici !
                        </small>
                    </p>
                </div>
            {% endif %}
        </section>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/rotateCard.js') }}"></script>
{% endblock %}
