<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Roadtrip{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="body-custom">

{% block nav %}
{% endblock %}

{% block body %}
{% endblock %}

{%include ':modulesUsed:footer.html.twig' %}

<script type="text/javascript"  src="{{ asset('js/jquery.js') }}"></script>
<script type="text/javascript"  src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script type="text/javascript"  src="{{ asset('js/bootstrap.min.js') }}"></script>
<script type="text/javascript"  src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript"  src="{{ asset('js/fos_js_routes_dev.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>