{% extends "::layout/layoutHome.html.twig" %}

{% block nav %}
    {% include ':modulesUsed:navbarTest.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/easy-autocomplete.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/easy-autocomplete.themes.min.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <!-- row banner and title -->
        <div class="row header-content-wrap">
            <div class="container">
                <div class=" header-homepage">
                    <h1 class="text-white">
                        Trip, Meet, Share
                    </h1>
                    <h3 class="text-white">
                        Discover Trips Shared by World Travellers
                    </h3>
                </div>

                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="text-white text-center">Une destination ? </h3>
                    {{ form_start(form, { 'attr': {'class': 'form-group-lg' , 'id':'form-search'} }) }}
                    <div class="input-group">
                        {{ form_widget(form.nomDestination) }}
                        <div class="input-group-btn">
                            <button type="submit" id="btnSearchHp" class="btn btn-custom"><span
                                        class="glyphicon glyphicon-search"></span></button>
                        </div>

                    </div>
                    <!-- </form>-->
                    {{ form_end(form) }}
                    <!-- List group -->
                    <ul id="autolist" class="list-group">
                        <div id="autocompleteTest">
                        </div>
                    </ul>
                </div>

            </div>
        </div>
        <!-- ./row banner and title -->
    </div>
    <section class="last-users ">
        <div class="container-fluid">
            <!-- row last users registered -->
            <div class="row">
                <div class="container">
                    <div class="header-homepage">
                        <h2>Les derniers inscrits </h2>
                        <h4>Les derniers voyageurs ayant rejoint la communauté Travellink </h4>
                    </div>
                    <div class="col-xs-12 users">
                        {% for membre in membres %}
                            <div class="col-sm-4">
                                <div class="col-sm-4">
                                    <div class="img-container">
                                        <img src="{{ asset('img/users/profilePicture/' ~ membre.photoprofil ~ '') }} "
                                             alt="profile picture" class="img img-responsive img-thumbnail"/>
                                    </div>
                                </div>
                                <div class="col-sm-8 user-details">
                                    <p class="name-user">
                                        <a href="{{ path('memberHp' , { 'id': membre.id } ) }} ">{{ membre.prenom }} {{ membre.nom }} </a>
                                    </p>
                                    <p class="info-user"> {{ membre.voyages|length }} voyages</p>
                                    <p class="info-user"> {{ membre.follower|length }} followers</p>
                                    <p class="info-user"> {{ membre.followed|length }} voyageurs followed</p>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- ./Panel last users registered -->
        </div>
        <!-- ./row last users registered -->
        </div>
    </section>

    <!-- section last trips created -->
    <section class="last-trips sub-header-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="header-homepage">
                        <h2 class="text-white">Les voyages récents</h2>
                    </div>
                    {% for voyage in voyages %}
                        {% set traveller = voyage.voyageur[0] %}
                        <div class="col-sm-4">
                            <aside>
                                <img src="{{ vich_uploader_asset(voyage, 'imagefile') }}"
                                     class="img-center img-responsive">
                                <div class="content-title">
                                    <div class="text-center">
                                        <h3>
                                            <a href="{{ path('voyagePage' , {'idVoyage' : voyage.idvoyage }) }}">{{ voyage.titrevoyage }}</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="content-footer">
                                    <img class="user-small-img" src="{{ vich_uploader_asset(traveller, 'imagefile') }}">
                                    <span class="text-white">
                                        <a href="{{ path('memberHp' , {'id' : traveller.id}) }}">
                                            {{ traveller.prenom }}&nbsp;{{ traveller.nom }}
                                        </a>
                                    </span>
                                    <span class="pull-right">
				<a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i
                            class="glyphicon glyphicon-heart"></i> 20</a>
				</span>
                                </div>
                            </aside>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- END section last trips created -->

    <!-- BEGIN section users review -->
    <section class="user-reviews">
        <div class="container-fluid">
            <div class="row">
                <div class="header-homepage col-md-offset-2 col-md-8 text-center">
                    <h2>Les avis d'utilisateurs</h2>
                    <h4>Vos retours nous aident à améliorer la qualité de nos services</h4>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-offset-2 col-md-8'>
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            {% for membre in membreReviews %}
                                <li data-target="#quote-carousel" {{ loop.index ==  1 ? 'class="active"' }} data-slide-to="{{ loop.index }}"></li>
                            {% endfor %}
                        </ol>

                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">
                            {% for membre in membreReviews %}
                                <!-- Quote 1 -->

                                <div class="item {{ loop.index ==  1 ? 'active'  }}">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-3 text-center">
                                                <img class="img-circle" src="{{ vich_uploader_asset(membre, 'imagefile') }}"
                                                     style="width: 100px;height:100px;">
                                            </div>
                                            <div class="col-sm-9">
                                                <p>{{ membre.review }}</p>
                                                <small>{{ membre.username }}</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Carousel Buttons Next/Prev -->
                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i
                                    class="glyphicon glyphicon-chevron-left"></i></a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i
                                    class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- END section users review -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/ajaxSearchPlaces.js') }}"></script>
    <script src="{{ asset('js/reviewCarousel.js') }}"></script>
    <script src="{{ asset('js/jquery.easy-autocomplete.min.js') }}"></script>
{% endblock %}



