{% extends "::layout/layoutHome.html.twig" %}

{% block nav %}
    {% include ':modulesUsed:navbarTest.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/easy-autocomplete.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/easy-autocomplete.themes.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/rotateCard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}"/>
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <!-- row banner and title -->
        <div class="row header-content-wrap">
            <div class="container">
                <div class=" header-homepage">
                    <h1 class="text-white">
                        Trip, Meet, Share
                    </h1>
                    <h3 class="text-white">
                        Discover Trips Shared by World Travellers
                    </h3>
                </div>

                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="text-white text-center">Interested in a trip location ? </h3>
                    {{ form_start(form, { 'attr': {'class': 'form-group-lg' , 'id':'form-search'} }) }}
                    <div class="input-group">
                        {{ form_widget(form.nomDestination) }}
                        <div class="input-group-btn">
                            <button type="submit" id="btnSearchHp" class="btn btn-custom"><span
                                        class="glyphicon glyphicon-search"></span></button>
                        </div>

                    </div>
                    <!-- </form>-->
                    {{ form_end(form) }}
                    <!-- List group -->
                    <div id="match"></div>
                </div>

            </div>
        </div>
        <!-- ./row banner and title -->
    </div>
    <section class="last-users ">
        <div class="container-fluid">
            <!-- row last users registered -->
            <div class="row">
                <div class="col-xs-12 users">

                    <div class="container">
                        <div class="header-homepage">
                            <h2>Last registered </h2>
                            <h4>Last travellers that joined Travellink's community </h4>
                        </div>

                        <div class="row">
                            {% for membre in membres %}
                                <div class="col-md-3 col-sm-6">
                                    <div class="card-container">
                                        <div class="card">
                                            <div class="front">
                                                <div class="cover">
                                                    <img src="{{ vich_uploader_asset(membre, 'imagefilecover') }}"
                                                         class=" img-responsive">
                                                </div>
                                                <div class="user">
                                                    <img class="img-circle"
                                                         src="{{ vich_uploader_asset(membre, 'imagefile') }}"/>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <h3 class="name">{{ membre.prenom }} {{ membre.nom }}</h3>
                                                        <p class="profession">{{ membre.nationalite }}</p>                                                        <p class="text-center">
                                                            "<em>{{ membre.descriptionprofil }}</em>"
                                                        </p>
                                                    </div>


                                                </div>
                                            </div> <!-- end front panel -->
                                            <div class="back">
                                                <div class="header">
                                                    <h5 class="motto">{{ membre.descriptionprofil }}</h5>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <h3 class="text-center">
                                                            {{ membre.nbCountries }}
                                                        </h3>
                                                        <h4 class="text-center">
                                                            {{ membre.nbCountries > 1 ? 'countries' : 'country' }} visited
                                                        </h4>

                                                        <div class="stats-container">
                                                            <div class="stats">
                                                                <h4>{{ membre.follower|length }}</h4>
                                                                <p>
                                                                    <a href="{{ path('memberHp' , {'id' : membre.id}) }}#followers">
                                                                        {{ membre.follower|length > 1 ? 'Followers' : 'Follower' }}
                                                                    </a>
                                                                </p>
                                                            </div>
                                                            <div class="stats">
                                                                <h4>{{ membre.followed|length }}</h4>
                                                                <p>
                                                                    <a href="{{ path('memberHp' , {'id' : membre.id}) }}#followed">
                                                                        Following
                                                                    </a>
                                                                </p>
                                                            </div>
                                                            <div class="stats">
                                                                <h4>{{ membre.voyages|length }}</h4>
                                                                <p>
                                                                    <a href="{{ path('memberHp' , {'id' : membre.id}) }}#trips">
                                                                        {{ membre.voyages|length > 1 ? 'Trips' : 'Trip' }}
                                                                    </a>
                                                                </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div> <!-- end back panel -->
                                        </div> <!-- end card -->
                                    </div> <!-- end card-container -->
                                </div> <!-- end col sm 3 -->

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Panel last users registered -->
        </div>
        <!-- ./row last users registered -->
        </div>
    </section>

    <!-- section last trips created -->
    <section class="last-trips sub-header-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="header-homepage">
                        <h2 class="text-white">Recently published trips</h2>
                    </div>
                    {% for voyage in voyages %}
                        {% set traveller = voyage.voyageur[0] %}
                        <div class="col-sm-4">
                            <aside>
                                <img src="{{ vich_uploader_asset(voyage, 'imagefile') }}"
                                     class="img-center img-responsive">
                                <div class="content-title">
                                    <div class="text-center">
                                        <h3>
                                            <a href="{{ path('voyagePage' , {'idVoyage' : voyage.idvoyage }) }}">{{ voyage.titrevoyage }}</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="content-footer">
                                    <img class="user-small-img" src="{{ vich_uploader_asset(traveller, 'imagefile') }}">
                                    <span class="text-white">
                                        <a href="{{ path('memberHp' , {'id' : traveller.id}) }}">
                                            {{ traveller.prenom }}&nbsp;{{ traveller.nom }}
                                        </a>
                                    </span>
                                    <span class="pull-right">
				<a href="{{ path('memberHp' , {'id' : traveller.id }) }}#followers" data-toggle="tooltip"
                   data-placement="right" title="Followers"><i
                            class="glyphicon glyphicon-heart"></i> {{ traveller.follower|length }}</a>
				</span>
                                    <span class="pull-right">
				<a data-toggle="tooltip" data-placement="right" title="Number of views for this trip"><i
                            class="glyphicon glyphicon-eye-open"></i> {{ voyage.views }}</a>
				</span>
                                    <span class="pull-right">
				<a href="{{ path('memberHp' , {'id' : traveller.id }) }}#trips" data-toggle="tooltip"
                   data-placement="right" title="Number of trips done"><i
                            class="glyphicon glyphicon-plane"></i> {{ traveller.voyages|length }}</a>
				</span>
                                </div>
                            </aside>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- END section last trips created -->

    <!-- BEGIN section users review -->
    <section class="user-reviews">
        <div class="container-fluid">
            <div class="row">
                <div class="header-homepage col-md-offset-2 col-md-8 text-center">
                    <h2>Users Reviews</h2>
                    <h4>Your reviews help us to improve our services quality</h4>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-offset-2 col-md-8'>
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            {% for membre in membreReviews %}
                                <li data-target="#quote-carousel" {{ loop.index ==  1 ? 'class="active"' }}
                                    data-slide-to="{{ loop.index }}"></li>
                            {% endfor %}
                        </ol>

                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">
                            {% for membre in membreReviews %}
                                <!-- Quote 1 -->
                                <div class="item {{ loop.index ==  1 ? 'active' }}">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-3 text-center">
                                                <img class="img-circle"
                                                     src="{{ vich_uploader_asset(membre, 'imagefile') }}">
                                            </div>
                                            <div class="col-sm-6 col-sm-offset-2">
                                                <p>{{ membre.review }}</p>
                                                {{ membre.rating|rating(5, "fa-2x") }}
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Carousel Buttons Next/Prev -->
                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i
                                    class="glyphicon glyphicon-chevron-left"></i></a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i
                                    class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- END section users review -->
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/autocompletePlaces.js') }}"></script>
    <script src="{{ asset('js/reviewCarousel.js') }}"></script>
    <script src="{{ asset('js/rotateCard.js') }}"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
{% endblock %}



